{% extends 'navbar.html' %}

{% block content %}
<style>
    .dataframe {
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(196, 85, 85, 0.15);
    }
    .dataframe tr {
        background-color: #f1efeb;
        color: #816a6a;
        text-align: center;
    }
    .dataframe td {
        padding: 10px 12px;
    }
    
    .dataframetbody tr:last-of-type {
        border-bottom: 10x solid hsl(0, 0%, 3%);
    }
    
</style>

<body>

    <br>
    
    <div style="margin:10px 100px;">
        
        <h3>Analysis of Inspections in Wake County</h3>
        
        {% if inspector %}
        {{ inspector | safe }}
        {% endif %}
    
        <br>
    
        {% if violation %}
        {{ violation | safe }}
        {% endif %}

        <br>
        
        {% if top20Rest %}
        <h3>Top 20 restaurant with highest Violations</h3>
        {{ top20Rest | safe }}
        {% endif %}
        
    
    </div>
    
    
</body>


{% endblock %}