{% extends 'navbar.html' %}

{% block content %}
<style>
    .dataframe {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(196, 85, 85, 0.15);
}
.dataframetr {
    background-color: #009879;
    color: #816a6a;
    text-align: left;
}
.dataframeth,
.dataframe td {
    padding: 12px 15px;
}

.dataframe tbody tr {
    border-bottom: 1px solid #dddddd;
}

.dataframe tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.dataframetbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.dataframetbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
</style>

<br>
<div style="margin:10px 20px;" class="dropdown">
    
    <form action="/searchRestuarentsOutput/" method="post">
        {% csrf_token %}
    <div class="input-group mb-2">
        <label class="input-group-text" for="inputGroupSelect01">Select City</label>
        <select class="form-select" name = "CityName" required>
          <option selected>Choose...</option>
          <option value="RALEIGH">Raleigh</option>
          <option value="CARY">Cary</option>
          <option value="APEX">Apex</option>
          <option value="MORRISVILLE">Morrisville</option>
          <option value="FUYQUAY VARINA">FV</option>
        </select>
      </div>
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="date1">Enter Year Restuarant was open</span>
        <input type="int" name="param1" value = 2021 required/><br><br>
    </div>
    <br>
    <button type = "submit" class = "btn btn-dark">Submit</button><br> <br>


    <div style="margin:10px 20px;" >
        {%if df_search_html %}
        {{df_search_html|safe}}
        {% endif %}

    </div>
    </form>
</div>

{% endblock %}
